@{
    @model ItsGitHub.Models.AssignmentViewModel
    ViewBag.Title = "Assignment - " + @Model.Assignment.Title;
}

<div class="container">
    <div class="assignment">
        <h1>@Model.Assignment.Title</h1>
        @Html.Markdown(Model.Assignment.Content)
    </div>
</div>

<div class="container">

    <div class="responses">
        <ul>
            @foreach (var item in Model.Responses)
            {
                <li><a href="@Url.Action("Details", "Response", new {id = @item.Id})">@item.Content</a></li>
                <text>By: </text> @item.CreatorName <text>on: </text> @item.Created
            }
        </ul>
    </div>
    <p><a href="@Url.Action("Add", "Response", new { assignmentId = @Model.Assignment.Id })">Add new response</a></p>
</div>