@{
    ViewBag.Title = "Assignments";
    @model IEnumerable<ItsGitHub.Models.Assignment>
}

<h2>Assignments</h2>


<div class="container">
    <div class="assignment">
        <p>Hey @CurrentUser.FullName! Here's some assignments!</p>
        <ul>
            @foreach (var assignment in Model)
            {
                <li><a href="@Url.Action("Details", new {id = @assignment.Id})">@assignment.Title</a></li>
                <text>By: </text> @assignment.CreatorName <text>on: </text> @assignment.Created
            }
        </ul>
    </div>
    <p><a href="@Url.Action("Create")">Create new assignment</a></p>
</div>