@{
    @model ItsGitHub.Models.AssignmentViewModel
    ViewBag.Title = "Response - " + @Model.Response.Content;
}

<div class="container">
    <div class="assignment">
        <h1>@Model.Response.Content</h1>
        @Html.Markdown(Model.Response.Content)
    </div>

</div>

<div class="container">

    <div class="responses">
        <ul>
            @foreach (var item in Model.Comments)
            {
                <li>@item.Content</li>
                <text>By: </text> @item.CreatorName <text>on: </text> @item.Created
            }
        </ul>
    </div>
    <p><a href="@Url.Action("Add", "Comment", new { ResponseId = @Model.Response.Id })">Add new Comment</a></p>
</div>
